<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit explicabo magnam 
accusantium ipsum aliquid quo libero amet delectus inventore doloremque alias illo optio 
adipisci nesciunt exercitationem, suscipit fugit id eius?</p>
<h2>complete el siguiente formulario</h2>
<form action="">
    <input type="text" placeholder="nombre">
</form>
